version: "3.8"
services:
    db:
        image: "postgres:alpine"
        container_name: db
        volumes:
            - data:/var/lib/db
        ports:
            - ${DB_PORT}:${DB_PORT}
        environment:
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_DB=${DB_DATABASE}

    server:
        build: .
        container_name: server
        volumes: [
            ./:/app
        ]
        environment:
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_DB=${DB_DATABASE}
            - POSTGRES_HOST=${DB_HOST}
            - POSTGRES_PORT=${DB_PORT}
        ports:
            - 5000:5000
        links:
            - db

volumes:
    data:
